@using CompanyWeb.Data.Entities;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    sSystem data = ViewBag.Data;
}
<style>
    .text-content .form-control {
        height: 30px
    }
</style>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-0">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Thông tin công ty</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-0">
                    <div class="page-header">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="/Admin/AdHome/Index">Trang chủ</a></li>
                                @* <li><a href="#">Pages</a></li> *@
                                <li class="active">Thông tin công ty</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card alert">
                            <div class="card-body">
                                <div class="user-profile">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="user-photo">
                                                <img class="img-responsive" src="@data.Favicon" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="user-profile-name" style="display:block">
                                                <input type="text" id="txtName" class="form-control" value="@data.Name" />
                                            </div>
                                            <div class="user-profile-name" style="display:block; margin-top:10px">
                                                <input type="text" id="txtCode" class="form-control" value="@data.Code" />
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="custom-tab user-profile-tab">
                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li role="presentation" class="active"><a href="#1" aria-controls="1" role="tab" data-toggle="tab">Thông tin chung</a></li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="contact-information">
                                                        <div class="phone-content">
                                                            <span class="contact-title" style="width:165px">Lịch sử hình thành:</span>
                                                            <textarea id="txtLSHT" rows="4" class="form-control editor">@Html.Raw(data.History)</textarea>
                                                        </div>
                                                        <div class="address-content">
                                                            <span class="contact-title" style="width:165px">Giá trị và sứ mệnh:</span>
                                                            <textarea id="txtGTSM" rows="4" class="form-control editor">@Html.Raw(data.ValueAndMission)</textarea>
                                                        </div>
                                                        <div class="email-content">
                                                            <span class="contact-title" style="width:165px">Điều kiện &amp; quyền lợi:</span>
                                                            <textarea id="txtUTQL" rows="4" class="form-control editor">@Html.Raw(data.Recruitment_condition)</textarea>
                                                        </div>
                                                        <div class="website-content">
                                                            <span class="contact-title" style="width:165px">Quy trình ứng tuyển:</span>
                                                            <textarea id="txtUTQT" rows="4" class="form-control editor">@Html.Raw(data.Recruitment_procedure)</textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card alert">
                                    <div class="contact-information">
                                        <div class="text-content">
                                            <span class="contact-title">Số fax:</span>
                                            <input type="text" id="txtFax" class="form-control" value="@data.Fax" />
                                        </div>
                                        <div class="text-content">
                                            <span class="contact-title">Mã số thuế:</span>
                                            <input type="text" id="txtTaxCode" class="form-control" value="@data.TaxCode" />
                                        </div>
                                        <div class="text-content">
                                            <span class="contact-title">Điện thoại:</span>
                                            <input type="text" id="txtPhone" class="form-control" value="@data.Phone" />
                                        </div>
                                        <div class="text-content">
                                            <span class="contact-title">Chỉ đường:</span>
                                            <input type="text" id="txtMap" class="form-control" value="@data.GoogleMap" />
                                        </div>
                                        <div class="text-content">
                                            <span class="contact-title">Email:</span>
                                            <input type="text" id="txtEmail" class="form-control" value="@data.Email" />
                                        </div>
                                        <div class="text-content">
                                            <span class="contact-title">Địa chỉ:</span>
                                            <input type="text" id="txtAddress" class="form-control" value="@data.Address" />
                                        </div>
                                        <div class="text-content">
                                            <span class="contact-title">Zalo:</span>
                                            <input type="text" id="txtZalo" class="form-control" value="@data.Zalo" />
                                        </div>
                                        <div class="text-content">
                                            <span class="contact-title">Facebook:</span>
                                            <input type="text" id="txtFacebook" class="form-control" value="@data.Facebook" />
                                        </div>
                                        <div class="text-content">
                                            <span class="contact-title">Instagram:</span>
                                            <input type="text" id="txtInstagram" class="form-control" value="@data.Instagram" />
                                        </div>
                                        <div class="text-content">
                                            <span class="contact-title">Tiktok:</span>
                                            <input type="text" id="txtTiktok" class="form-control" value="@data.Tiktok" />
                                        </div>
                                        <div class="text-content">
                                            <span class="contact-title">Twitter:</span>
                                            <input type="text" id="txtTwitter" class="form-control" value="@data.Twitter" />
                                        </div>
                                    </div>
                                    <div class="user-send-message"><a class="btn btn-primary btn-addon" onclick="SaveData()"><i class="ti-save"></i>Cập nhật</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        let editor1;
        let editor2;
        let editor3;
        let editor4;
        ClassicEditor.create(document.querySelector('#txtLSHT'), {
            plugins: ['Essentials',
                'Paragraph',
                'Heading',
                'Bold',
                'Italic',
                'Underline',
                'Strikethrough',
                'SourceEditing',
                'Subscript',
                'Superscript',
                'Alignment',
                'Indent',
                'IndentBlock',
                'BlockQuote',
                'Link',
                'Image',
                'ImageCaption',
                'ImageStyle',
                'ImageToolbar',
                'ImageUpload',
                'List',
                'MediaEmbed',
                'PasteFromOffice',
                'Table',
                'TableToolbar',
                'TableProperties',
                'TableCellProperties',
                'Highlight',
                'FontFamily',
                'FontSize',
                'FontColor',
                'FontBackgroundColor', 'GeneralHtmlSupport', /* ... */]
        }).then(newEditor => {
            editor1 = newEditor;
        })
            .catch(error => {
                console.error(error);
            });
        ClassicEditor.create(document.querySelector('#txtGTSM'), {
            plugins: ['Essentials',
                'Paragraph',
                'Heading',
                'Bold',
                'Italic',
                'Underline',
                'Strikethrough',
                'SourceEditing',
                'Subscript',
                'Superscript',
                'Alignment',
                'Indent',
                'IndentBlock',
                'BlockQuote',
                'Link',
                'Image',
                'ImageCaption',
                'ImageStyle',
                'ImageToolbar',
                'ImageUpload',
                'List',
                'MediaEmbed',
                'PasteFromOffice',
                'Table',
                'TableToolbar',
                'TableProperties',
                'TableCellProperties',
                'Highlight',
                'FontFamily',
                'FontSize',
                'FontColor',
                'FontBackgroundColor', 'GeneralHtmlSupport', /* ... */]
        }).then(newEditor => {
            editor2 = newEditor;
        })
            .catch(error => {
                console.error(error);
            });
        ClassicEditor.create(document.querySelector('#txtUTQL'), {
            plugins: ['Essentials',
                'Paragraph',
                'Heading',
                'Bold',
                'Italic',
                'Underline',
                'Strikethrough',
                'SourceEditing',
                'Subscript',
                'Superscript',
                'Alignment',
                'Indent',
                'IndentBlock',
                'BlockQuote',
                'Link',
                'Image',
                'ImageCaption',
                'ImageStyle',
                'ImageToolbar',
                'ImageUpload',
                'List',
                'MediaEmbed',
                'PasteFromOffice',
                'Table',
                'TableToolbar',
                'TableProperties',
                'TableCellProperties',
                'Highlight',
                'FontFamily',
                'FontSize',
                'FontColor',
                'FontBackgroundColor', 'GeneralHtmlSupport', /* ... */]
        }).then(newEditor => {
            editor3 = newEditor;
        })
            .catch(error => {
                console.error(error);
            });
        ClassicEditor.create(document.querySelector('#txtUTQT'), {
            plugins: ['Essentials',
                'Paragraph',
                'Heading',
                'Bold',
                'Italic',
                'Underline',
                'Strikethrough',
                'SourceEditing',
                'Subscript',
                'Superscript',
                'Alignment',
                'Indent',
                'IndentBlock',
                'BlockQuote',
                'Link',
                'Image',
                'ImageCaption',
                'ImageStyle',
                'ImageToolbar',
                'ImageUpload',
                'List',
                'MediaEmbed',
                'PasteFromOffice',
                'Table',
                'TableToolbar',
                'TableProperties',
                'TableCellProperties',
                'Highlight',
                'FontFamily',
                'FontSize',
                'FontColor',
                'FontBackgroundColor', 'GeneralHtmlSupport', /* ... */]
        }).then(newEditor => {
            editor4 = newEditor;
        })
            .catch(error => {
                console.error(error);
            });
    </script>
    <script>
        function SaveData() {
            var txtName = $('#txtName').val();
            var txtCode = $('#txtCode').val();
            var txtLSHT = editor1.getData();
            var txtGTSM = editor2.getData();
            var txtUTQL = editor3.getData();
            var txtUTQT = editor4.getData();
            var txtFax = $('#txtFax').val();
            var txtTaxCode = $('#txtTaxCode').val();
            var txtPhone = $('#txtPhone').val();
            var txtMap = $('#txtMap').val();
            var txtEmail = $('#txtEmail').val();
            var txtAddress = $('#txtAddress').val();
            var txtZalo = $('#txtZalo').val();
            var txtFacebook = $('#txtFacebook').val();
            var txtInstagram = $('#txtInstagram').val();
            var txtTiktok = $('#txtTiktok').val();
            var txtTwitter = $('#txtTwitter').val();
            if (txtName == '') {
                toastr.error('Chưa nhập tên công ty!', 'Thông báo', {
                    "positionClass": "toast-top-right",
                    timeOut: 5000,
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": true,
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut",
                    "tapToDismiss": false
                })
            }
            else {
                var formD = new FormData();
                formD.append('name', txtName);
                formD.append('code', txtCode);
                formD.append('lsht', txtLSHT);
                formD.append('gtsm', txtGTSM);
                formD.append('utql', txtUTQL);
                formD.append('utqt', txtUTQT);
                formD.append('fax', txtFax);
                formD.append('phone', txtPhone);
                formD.append('taxcode', txtTaxCode);
                formD.append('map', txtMap);
                formD.append('email', txtEmail);
                formD.append('address', txtAddress);
                formD.append('zalo', txtZalo);
                formD.append('facebook', txtFacebook);
                formD.append('instagram', txtInstagram);
                formD.append('tiktok', txtTiktok);
                formD.append('twitter', txtTwitter);
                $.ajax({
                    async: false,
                    url: '/Admin/sSystem/SaveData',
                    data: formD,
                    //dataType: "json",
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.status == true) {
                            toastr.success(res.mess, 'Thông báo!', 5000);
                            setTimeout(function () {
                                location.reload();
                            }, 1000);
                        } else {
                            toastr.eror('Có lỗi xảy ra, cập nhật thông tin không thành công', 'Thông báo!', 5000);
                        }
                    },
                    error: (error) => {
                        toastr.error('Có lỗi xả ra, vui lòng thử lại sau', 'Lỗi!', 5000);
                        console.log(JSON.stringify(error));
                    }
                })
            }
        }
    </script>
}
