@using CompanyWeb.Data.Entities;
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    dPost detailPost = ViewBag.detailPost;
    cPost category = ViewBag.category;
    List<dPost> lstAllPost = ViewBag.lstAllPost;
    List<dPost> lstRecentPosts = ViewBag.lstRecentPosts;
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/Temps/assets/img/breadcrumbs-bg.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

            <h2>Bài viết</h2>
            <ol>
                <li><a href="/">Trang chủ</a></li>
                <li>Bài viết</li>
            </ol>

        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Blog Details Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row g-5">
                <div class="col-lg-8">
                    <article class="blog-details">

                        @*<div class="post-img">
                            <img src="@detailPost.Thumbnail" alt="" class="img-fluid">
                        </div>*@

                        <h2 class="title">@detailPost.Title</h2>

                        <div class="meta-top">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="javascript:void(0)">Admin</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="javascript:void(0)"><time datetime="@detailPost.CreatedDate.Value.ToString("dd/MM/yyyy"))">@detailPost.CreatedDate.Value.ToString("dd/MM/yyyy")</time></a></li>
                                @*<li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">12 Comments</a></li>*@
                            </ul>
                        </div><!-- End meta top -->

                        <div class="content">
                            @Html.Raw(detailPost.Content)

                        </div><!-- End post content -->

                        <div class="meta-bottom">
                            <i class="bi bi-folder"></i>
                            <ul class="cats">
                                <li><a href="/Posts/Index/@category.ID">@category.Title</a></li>
                            </ul>

                            <i class="bi bi-tags"></i>
                            <ul class="tags">
                                @if (category.ID == 1 || category.ID == 3)
                                {
                                    <li><a href="#">Kiến thức</a></li>
                                    <li><a href="#">Lời khuyên</a></li>
                                    <li><a href="#">Chia sẻ</a></li>
                                }
                                else if (category.ID == 2)
                                {
                                    <li><a href="#">Hướng dẫn sử dụng</a></li>
                                }
                                else if (category.ID == 4 || category.ID == 5)
                                {
                                    <li><a href="#">Tin tức</a></li>
                                }
                            </ul>
                        </div><!-- End meta bottom -->

                    </article><!-- End blog post -->

                    @*<div class="post-author d-flex align-items-center">
                        <img src="assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="">
                        <div>
                            <h4>Jane Smith</h4>
                            <div class="social-links">
                                <a href="https://twitters.com/#"><i class="bi bi-twitter"></i></a>
                                <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                                <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                            </div>
                            <p>
                                Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
                            </p>
                        </div>
                    </div>*@
                    <!-- End post author -->

                </div>

                <div class="col-lg-4">

                    <div class="sidebar">

                        <div class="sidebar-item categories">
                            <h3 class="sidebar-title">Loại bài viết</h3>
                            <ul class="mt-3">
                                @foreach (var item in ViewBag.categoryPosts)
                                {
                                    <li><a href="/Posts/Index/@item.ID">@item.Title <span>(@lstAllPost.Where(x=>x.ID_CPost == item.ID).Count())</span></a></li>
                                }
                            </ul>
                        </div><!-- End sidebar categories-->

                        <div class="sidebar-item recent-posts">
                            <h3 class="sidebar-title">Bài viết gần đây</h3>

                            <div class="mt-3">
                                @foreach (var item in lstRecentPosts)
                                {
                                    <div class="post-item mt-3">
                                        <img src="@item.Image" alt="@item.Title">
                                        <div>
                                            <h4><a href="/Posts/Detail/@item.ID">@item.Title</a></h4>
                                            <time datetime="@item.CreatedDate.Value.ToString("dd/MM/yyyy")">@item.CreatedDate.Value.ToString("dd/MM/yyyy")</time>
                                        </div>
                                    </div>

                                    <!-- End recent post item-->
                                }

                            </div>

                        </div><!-- End sidebar recent posts-->

                        @*<div class="sidebar-item tags">
                            <h3 class="sidebar-title">Tags</h3>
                            <ul class="mt-3">
                                <li><a href="#">App</a></li>
                                <li><a href="#">IT</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Mac</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Office</a></li>
                                <li><a href="#">Creative</a></li>
                                <li><a href="#">Studio</a></li>
                                <li><a href="#">Smart</a></li>
                                <li><a href="#">Tips</a></li>
                                <li><a href="#">Marketing</a></li>
                            </ul>
                        </div><!-- End sidebar tags-->*@

                    </div><!-- End Blog Sidebar -->

                </div>
            </div>

        </div>
    </section><!-- End Blog Details Section -->

</main><!-- End #main -->