@using CompanyWeb.Data.Entities;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<dPost> lstPosts = ViewBag.lstPostsPaging;
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/Temps/assets/img/breadcrumbs-bg.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
            <h2>Danh sách bài viết</h2>
            <ol>
                <li><a href="/">Trang chủ</a></li>
                <li>Danh sách bài viết</li>
            </ol>

        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row gy-4 posts-list">
                @foreach (var item in lstPosts)
                {
                    <div class="col-xl-4 col-md-6">
                        <div class="post-item position-relative h-100">

                            <div class="post-img position-relative overflow-hidden">
                                <img src="@item.Image" class="img-fluid" alt="">
                                <span class="post-date">@item.CreatedDate.Value.ToString("dd/MM/yyyy")</span>
                            </div>

                            <div class="post-content d-flex flex-column">

                                <h3 class="post-title">@item.Title</h3>

                                <div class="meta d-flex align-items-center">
                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-person"></i> <span class="ps-2">Admin</span>
                                    </div>
                                    @*<span class="px-3 text-black-50">/</span>
                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-folder2"></i> <span class="ps-2">Politics</span>
                                    </div>*@
                                </div>

                                <p>
                                    @item.Description
                                </p>

                                <hr>

                                <a href="/Posts/Detail/@item.ID" class="readmore stretched-link"><span>Xem thêm</span><i class="bi bi-arrow-right"></i></a>

                            </div>

                        </div>
                    </div>

                    <!-- End post list item -->
                }

            </div><!-- End blog posts list -->
            @Html.PagedListPager((IPagedList)ViewBag.lstPostsPaging, page => Url.Action("Index", new{page = page}))
        </div>
    </section><!-- End Blog Section -->

</main><!-- End #main -->