@using CompanyWeb.Data.Entities;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<dCustomer> lstData = ViewBag.lstData;
    List<cCustomer> lstCCus = ViewBag.lstCCus;
    int i = 0;
}

<style>
    .modal-dialog {
        top: 45%;
        width: 50%
    }
</style>

<a class="btn btn-primary btn-flat btn-addon m-b-10 m-l-5" onclick="AddItem()"><i class="ti ti-plus"></i>Thêm mới</a>

<div class="card alert">
    <div class="card-header">
        <h4>Quản lý đối tác </h4>
    </div>
    <div class="card-body">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tên đối tác</th>
                    <th>Logo</th>
                    <th>Phân loại</th>
                    <th>Trạng thái hiển thị</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lstData)
                {
                    i++;
                    <tr>
                        <th scope="row">@i</th>
                        <td>@item.Title</td>
                        <td><img width="100" height="150" src="@item.Avatar" title="@item.Title" /></td>
                        <td>@item.ID_CCustomer</td>
                        @if (item.Status == 1)
                        {
                            <td><span class="badge badge-primary">Đang sử dụng</span></td>
                        }
                        else
                        {
                            <td><span class="badge badge-default">Dừng sử dụng</span></td>
                        }
                        <td class="color-primary">
                            <a class="badge label-default" onclick="EditItem(@item.ID)"><i class="ti-pencil-alt2"></i></a> &nbsp;
                            <a class="badge label-danger" onclick="DelItem(@item.ID, 10)"><i class="ti-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="mdAoEItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lbName">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="hdID" />
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="recipient-name" class="col-form-label">Tên đối tác:</label>
                                <input type="text" class="form-control" id="txtTitle">
                            </div>
                            <div class="col-md-6">
                                <label for="recipient-name" class="col-form-label">Phân loại:</label>
                                <select id="ddlcCus" class="form-control">
                                    @foreach (var item in lstCCus)
                                    {
                                        <option value="@item.ID">@item.Title</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="user-photo">
                            @* <img class="img-responsive" src="@data.Favicon" alt="" /> *@
                            <img class="img-responsive" id="imgAvatar" src="/images/noimage.png" height="150" width="200" />
                            <label for="f00_Image" class="a_hover" style="position: absolute; transform: translate(5px, -170px);">
                                <i class="fa fa-camera" for="f00_Image" style="font-size:30px; color:#12111175"></i>
                            </label>
                            <input type="file" id="f00_Image" onchange="changeIMG()" name="f00_Image" accept="*/image" style="display:none" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Thông tin:</label>
                        <textarea class="form-control" id="txtContent" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Trạng thái sử dụng:</label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="checkUse"> Sử dụng
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <a class="btn btn-primary btn-flat btn-addon m-b-10 m-l-5" onclick="SaveData()"><i class="ti ti-save"></i>Lưu</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        let editor;
        ClassicEditor.create(document.querySelector('#txtContent'), {
            plugins: ['Essentials',
                'Paragraph',
                'Heading',
                'Bold',
                'Italic',
                'Underline',
                'Strikethrough',
                'SourceEditing',
                'Subscript',
                'Superscript',
                'Alignment',
                'Indent',
                'IndentBlock',
                'BlockQuote',
                'Link',
                'Image',
                'ImageCaption',
                'ImageStyle',
                'ImageToolbar',
                'ImageUpload',
                'List',
                'MediaEmbed',
                'PasteFromOffice',
                'Table',
                'TableToolbar',
                'TableProperties',
                'TableCellProperties',
                'Highlight',
                'FontFamily',
                'FontSize',
                'FontColor',
                'FontBackgroundColor', 'GeneralHtmlSupport', /* ... */]
        }).then(newEditor => {
            editor = newEditor;
        })
            .catch(error => {
                console.error(error);
            });
    </script>
    <script>
        function changeIMG() {
            var f = document.getElementById("f00_Image").files;
            if (f.length > 0) {
                var fileToLoad = f[0];
                var fileReader = new FileReader();
                fileReader.onload = function (fileLoadedEvent) {
                    var srcData = fileLoadedEvent.target.result; // <--- data: base64
                    document.getElementById("imgAvatar").src = srcData;
                }
                fileReader.readAsDataURL(fileToLoad);
            }
        };
        function AddItem() {
            $('#mdAoEItem').modal('show');
            $('#txtTitle').val('');
            editor.setData('');
            $("#ddlcCus").val($("#ddlcCus option:first").val());
            $('#hdID').val('0');
            $('#checkUse').prop('checked', true);
            $('#lbName').text('Thêm mới bản ghi');
            $('#imgAvatar').attr("src", '/images/noimage.png');
        }

        function EditItem(ID) {
            $('#mdAoEItem').modal('show');
            $('#lbName').text('Chỉnh sửa bản ghi');
            $.ajax({
                async: false,
                url: '/Admin/dCustomer/GetDetail',
                data: { ID: ID },
                type: 'GET',
                cache: false,
                success: function (res) {
                    if (res.status == true) {
                        $('#txtTitle').val(res.data1.title);
                        editor.setData(res.data1.content);
                        $('#hdID').val(ID);
                        $('#imgAvatar').attr("src", res.data1.avatar);
                        $("#ddlcCus").val(res.data1.iD_CCustomer).change();
                        if (res.data1.status == 1) {
                            $('#checkUse').prop('checked', true);
                        }
                        else {
                            $('#checkUse').prop('checked', false);
                        }
                    } else {
                        toastr.error(res.mess, 'Lỗi!', 5000);
                    }
                },
                error: function () {
                    toastr.error('Có lỗi xảy ra, vui lòng thử lại sau', 'Lỗi!', 5000);
                }
            })
        }

        function SaveData() {
            var fileI = document.getElementById("f00_Image").files[0];
            var title = $('#txtTitle').val();
            var ID = $('#hdID').val();
            var ID_CCustomer = $('#ddlcCus').val();
            var Content = editor.getData();
            var status = $('#checkUse').prop("checked") ? 1 : 0;
            if (title == '') {
                toastr.error('Chưa nhập tên đối tác!', 'Thông báo', {
                    "positionClass": "toast-top-right",
                    timeOut: 5000,
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": true,
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut",
                    "tapToDismiss": false
                });
                return false;
            }
            var formD = new FormData();
            formD.append('ID', ID);
            formD.append('Title', title);
            formD.append('ID_CCustomer', ID_CCustomer);
            formD.append('Content', Content);
            formD.append('Status', status);
            if (fileI != undefined) {
                formD.append("file", fileI);
            }
            $.ajax({
                async: false,
                url: '/Admin/dCustomer/SaveData',
                data: formD,
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    if (res.status == true) {
                        toastr.success(res.mess, 'Thông báo', {
                            "positionClass": "toast-top-right",
                            timeOut: 5000,
                            "closeButton": true,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "preventDuplicates": true,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut",
                            "tapToDismiss": false
                        });
                        setTimeout(function () {
                            location.href = '/Admin/dCustomer/Index';
                        }, 1000);
                    } else {
                        toastr.error(res.mess, 'Lỗi!', 5000);
                    }
                },
                error: function () {
                    toastr.error('Có lỗi xảy ra, vui lòng thử lại sau', 'Lỗi!', 5000);
                }
            });
        }

        function DelItem(ID, sta) {
            $.ajax({
                async: false,
                url: '/Admin/dCustomer/ChangeStatus',
                data: {
                    ID: ID,
                    Status: sta
                },
                type: 'POST',
                cache: false,
                success: function (res) {
                    if (res.status == true) {
                        toastr.success('Xóa bản ghi thành công', 'Thông báo', {
                            "positionClass": "toast-top-right",
                            timeOut: 5000,
                            "closeButton": true,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "preventDuplicates": true,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut",
                            "tapToDismiss": false
                        });
                        setTimeout(function () {
                            location.href = '/Admin/dCustomer/Index';
                        }, 1000);
                    } 
                    else {
                        toastr.error(res.mess, 'Lỗi!', 5000);
                    }
                },
                error: function () {
                    toastr.error('Có lỗi xảy ra, vui lòng thử lại sau', 'Lỗi!', 5000);
                }
            })
        }
    </script>
}